body {
	font-family: "DM Sans", sans-serif;
	color: #fff;
	background-color: #121212;
	font-size: 16px;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.header {
	padding-top: 20px;
}

.header-mob-menu {
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #121212;
	padding: 9px 20px;
}
.header-nav {
	display: flex;
	align-items: center;
}
.logo-header {
	margin-right: auto;
}

.header-logo-icon {
	fill: #ffffff;
}

.header-menu-list {
	display: none;
}
.header-nav-link {
	background-color: #1d1d1d;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-nav-icon {
	fill: #bea69e66;
	width: 16px;
	height: 16px;
	/* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-nav-link:hover .header-nav-icon,
.header-nav-link:focus .header-nav-icon {
	fill: #bea69e;
}

.btn-menu {
	background-color: transparent;
	border: none;
	margin-left: 14px;
	width: 32px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
}
.btn-menu-icon {
	stroke: white;
}

.header-btn {
	display: none;
}

.menu {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(18, 18, 18, 0.4);
	z-index: 1;
	overflow: auto;
	/* opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mob-menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 218px;
	height: 100%;
	padding-left: 20px;
	background-color: #bea69e;
	background-image: url(../img/mob-bg-img.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 218px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.mob-menu {
		background-image: url(../img/mob-bg-img-2x.png);
	}
}
.mob-menu-btn {
	width: 32px;
	height: 32px;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0;
}
.mob-menu-icon {
	stroke: black;
}

.mob-menu-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 180px;
}

.mob-menu-link {
	color: #121212;
	line-height: normal;
	text-transform: uppercase;
}

.about-link {
	font-weight: 700;
}

@media screen and (min-width: 375px) {
	.container {
		max-width: 375px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.header-mob-menu {
		min-width: 335px;
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding-left: 32px;
		padding-right: 32px;
	}

	.header-menu {
		display: flex;
		gap: 14px;
		align-items: center;
	}

	.header-mob-menu {
		min-width: 504px;
	}

	.header-nav-link {
		display: none;
	}

	.header-btn {
		display: flex;
		align-items: center;
		color: #121212;
		/* font-size: 18px; */
		font-style: normal;
		font-weight: 700;
		line-height: 1.56;
		text-transform: uppercase;
		padding: 16px 58px;
		border-radius: 12px;
		background-color: #fff;
		border: none;
		min-width: 186px;
		height: 60px;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.header-btn:hover,
	.header-btn:focus {
		background-color: #1d1d1d;
		color: #bea69e;
	}

	.mob-menu {
		width: 480px;
		padding-left: 64px;
		background-image: url(../img/tab-bg-img.png);
		background-size: 480px;
	}

	@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.mob-menu {
			background-image: url(../img/tab-bg-img-2x.png);
		}
	}

	.mob-menu-btn {
		width: 40px;
		height: 40px;
	}

	.mob-menu-icon {
		width: 40px;
		height: 40px;
	}
	.mob-menu-list {
		gap: 28px;
		margin-top: 232px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1280px;
		padding-left: 100px;
		padding-right: 100px;
	}

	.header-menu {
		gap: 20px;
	}

	.header-mob-menu {
		min-width: 822px;
		padding: 21px 50px;
	}

	.header-menu-list {
		display: flex;
		gap: 28px;
	}

	.header-menu-item {
	}

	.header-menu-link {
		font-size: 14px;
		line-height: normal;
		text-transform: uppercase;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.current:hover,
	.current:focus {
		color: #bea69e;
		font-weight: 700;
	}

	.btn-menu {
		display: none;
	}

	.header-btn {
		padding-left: 84px;
		padding-right: 84px;
		min-width: 238px;
		height: 60px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
		padding-left: 100px;
		padding-right: 100px;
	}

	.header-mob-menu {
		min-width: 982px;
	}

	.header-menu-list {
		gap: 40px;
	}
}
